@import 'onedark.css';

* {
  font-family: "LiberationSans Nerd Font", "Liberation Sans Font", monospace;
  font-size: 17px;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* ============================================================
BAR
============================================================ */

window#waybar {
  background: transparent;
  color: @text;
}

/* ============================================================
THE PILL
============================================================ */

.modules-center {
  background: @base;
  border-radius: 9em;
  padding: 0 0.3em 0 1em;
  margin-top: 0.8em;
  margin-bottom: 0em;
  min-height: 2em;

  transition: all 0.15s ease;
}

/* ============================================================
CLOCK
============================================================ */

#clock {
  color: white;
}

/* ============================================================
WORKSPACES
============================================================ */

#workspaces {
  padding: 0 0.8em;
}

#workspaces button {
  padding: 0 0.6em 0 0.3em;
  margin: 0.3em 0;
  border-radius: 0.8em;
  color: @subtext;
  background: transparent;
  transition: all 0.15s ease;
}

#workspaces button:hover {
  background: @overlay;
  color: @text;
  text-shadow: 0px 0px;
}

#workspaces button.active {
  background: @blue;
  color: @white;
  padding: 0 1em;
}

#workspaces button.active:hover {
  border-radius: 0.4em;
}

#workspaces button.urgent {
  background: @red;
  color: @base;
}

/* ============================================================
AUDIO
============================================================ */

#pulseaudio {
  color: @white;
  transition: color 0.15s ease;
  font-size: 1.2em;
  padding: 0 0.2em 0 0;
}

#pulseaudio:hover {
  color: @text;
}

#pulseaudio.muted {
  color: @red;
}

/* ============================================================
NETWORK
============================================================ */

#network {
  color: @white;
  padding: 0 0.4em 0 0.5em;
  transition: color 0.15s ease;

  /* overflow: hidden; */
  /* transition: max-width 0.3s ease; */
}

#network:hover {
}

#network.disconnected {
  color: @red;
}

/* ============================================================
NOTIFICATIONS (swaync)
============================================================ */

#custom-swaync {
  color: @yellow;
  padding: 0 0.5em;
  transition: color 0.15s ease;
}

#custom-swaync:hover {
}

#custom-swaync.notification {
  color: @yellow;
}

#custom-swaync.dnd-none,
#custom-swaync.dnd-notification {
  color: @muted;
}

/* ============================================================
TRAY
============================================================ */

#tray {
  margin: 0.3em;
  padding: 0 0.5em 0 0.8em;
  background: @overlay;
  color: @white;
  border-radius: 1.8em;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  color: @yellow;
}
